<section *ngIf="test" class="section">
  <h1 class="section__h1-title">{{test.name}}</h1>

  <form #form="ngForm" *ngIf="activeQuestionNumber < test.questions.length; else results">
    <p>{{test.questions[activeQuestionNumber].questionText}}</p>

    <div *ngIf="test.questions[activeQuestionNumber].questionType == questionType.single">

      <div *ngFor="let answer of test.questions[activeQuestionNumber].answers let j = index">
        <input id="answerRadio-{{j}}" type="radio" name="answerRadio{{activeQuestionNumber}}" value="true" [checked]="answerModel[activeQuestionNumber][j]" (click)="radioChanged(j)">
        <label for="answerRadio-{{j}}">{{answer.body}}</label>
      </div>
    </div>

    <div *ngIf="test.questions[activeQuestionNumber].questionType == questionType.multi">
      <div *ngFor="let answer of test.questions[activeQuestionNumber].answers let j = index">
        <input id="answerCheckbox-{{j}}" type="checkbox" name="answerCheckbox{{activeQuestionNumber}}{{j}}"
               [(ngModel)]="answerModel[activeQuestionNumber][j]">
        <label for="answerCheckbox-{{j}}">{{answer.body}}</label>
      </div>
    </div>

    <button *ngIf="activeQuestionNumber < test.questions.length" class="btn btn-default" (click)="submitAnswer()">
      {{activeQuestionNumber < test.questions.length - 1 ? 'Next' : 'Submit test'}}
    </button>
  </form>

  <ng-template #results>
    <app-result [answers]="answerModel" [test]="test"></app-result>
  </ng-template>
</section>
