<section class="section section_full-screen section_login">
  <div class="middle-card">
    <h3 class="section__h3-title">Hello, this is training app from OG to SSA</h3>
    <button class="btn" (click)="signIn()">Sign in with Facebook</button>
  </div>
</section>
