<header>
  <div *ngIf="user">
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <img src="{{user.image}}">
  </div>

  <nav>
    <ul>
      <li *ngFor="let menuItem of menu">
        <a [routerLink]="[menuItem.url]">{{menuItem.title}}</a>
      </li>
    </ul>
  </nav>

  <button (click)="logOut()">logout</button>
</header>
<main>
  <router-outlet></router-outlet>
</main>
