body {
  margin: 0;
  background: #fdfcff;
  font-family: Verdana;
  color: #333;
}

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.section {
  &_full-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_login {
    .middle-card {
      min-width: 200px;
      min-height: 200px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &__h1-title {
    font-weight: 700;
  }
  &__h3-title {
    font-weight: 500;
  }
}

.middle-card {
  padding: 15px;
  border: 1px solid #efe8fd;
  box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75);
  display: flex;
}

.btn {
  background: teal;
  border-radius: 4px;
  border: 1px solid teal;
  color: #fff;
  font-size: 20px;
  min-height: 40px;
  line-height: 40px;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background: #42a2a2;
  }
  &[disabled] {
    background: grey !important;
    border-color: grey !important;
    cursor: default;
  }
}

.modal {
  &__background {
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.18);
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: auto;
    align-items: center;
  }
  &__window {
    cursor: auto;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
  }
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #333;
  &.ng- {
    &invalid {
      border: 1px solid red;
    }
  }
}
