<h3 class="section__h3-title">
  {{proccess}} test
</h3>
<form #testForm="ngForm" (submit)="onSubmit(testForm)">
  <div class="form-group">
    <input #testName placeholder="Test name" name="name" [(ngModel)]="test.name" required />
  </div>
  <button [disabled]="testForm.invalid" class="btn" type="submit">Submit</button>
</form>
<button class="btn" (click)="destroy()">Close</button>
