<button class="btn" (click)="openCreator()">Create test</button>
<div *ngFor="let test of testDaoService.tests let test_index = index">
  <div>{{test_index + 1}}. {{test.name}}</div>
  <div>Has {{test.questionsCount}} question{{test.questionsCount > 1 ? 's' : ''}}</div>
  <div>added at {{test.dateAdded}}</div>
  <div>ID: {{test.id}}</div>
  <button class="btn" (click)="edit(test)">edit</button>
  <button class="btn" (click)="remove(test)">remove</button>
  <button class="btn" (click)="open(test.id)">open</button>
</div>
