<div *ngIf="testForm">
  <form [formGroup]="testForm" (submit)="submitTest(testForm)">
    <div class="form-group">
      <label>Название</label>
      <input class="form-control" name="name" formControlName="name"/>

      <div class="alert alert-danger"
           *ngIf="testForm.controls['name'].invalid && testForm.controls['name'].touched">
        Не указано названи
      </div>
    </div>


    <div formArrayName="questions">
      <div class="form-group" *ngFor="let question of testForm.controls['questions'].controls; let i = index">


        <fieldset>
          <div [formGroup]="question">
            <label>Воппрос {{i + 1}}</label>
            <input class="form-control" formControlName="questionText"/>
            <button class="btn btn-default" *ngIf="i > 0" (click)="removeQuestion(i)">✕</button>

            <div>
              <label>
                <input type="radio" id="false{{i}}" formControlName="questionType" [value]="questionType.multi" (ngModelChange)="changeQuestionType(i)">
                <label for="false{{i}}">Multi</label>
              </label>
              <label>
                <input type="radio" id="true{{i}}" formControlName="questionType" [value]="questionType.single" (ngModelChange)="changeQuestionType(i)">
                <label for="true{{i}}">Single</label>
              </label>
            </div>


            <div formArrayName="answers">
              <div class="form-group" *ngFor="let answer of question.controls['answers'].controls; let j = index">
                <div [formGroup]="answer">

                  <label *ngIf="question.controls['questionType'].value == questionType.single">
                    <input type="radio" id="answerRadio{{i}}{{j}}" (click)="checkboxAnswerChangedCorrect(i, j)" [checked]="answer.controls.correctness.value">
                    <label for="answerRadio{{i}}{{j}}">{{i + 1}}.{{j + 1}}</label>
                  </label>

                  <label *ngIf="question.controls['questionType'].value == questionType.multi">
                    <input type="checkbox" id="answerCheckbox{{i}}{{j}}" formControlName="correctness" [value]="!answer.controls.correctness" (click)="checkboxAnswerChangedCorrect(i, j)">
                    <label for="answerCheckbox{{i}}{{j}}">{{i + 1}}.{{j + 1}}</label>
                  </label>
                  <!--<input class="form-control" formControlName="body" ([ngModel])="answer.body"/>-->
                  <input class="form-control" formControlName="body"/>
                  <button class="btn btn-default" *ngIf="j > 0" (click)="removeAnswer(question, j)">✕</button>

                </div>

              </div>
            </div>

            <button class="btn btn-default" type="button" (click)="createAnswer(question)">
              Добавить ответ
            </button>

          </div>
        </fieldset>
      </div>
    </div>

    <div class="form-group" *ngIf="testForm.controls['questions'].controls.length > 0">
      <label>Минимальное колличество правильных ответов</label>
      <select formControlName="minCorrectAnswers">
        <option disabled>Минимальное колличество правильных ответов</option>
        <option *ngFor="let question of testForm.controls['questions'].controls; let i = index" [value]="i + 1">{{i + 1}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-default" type="button" (click)="createQuestion()">
        Добавить вопрос
      </button>
      <button class="btn btn-default" [disabled]="!modelWasChanged">
        Отправить
      </button>
      <button class="btn btn-default" [disabled]="test.questions.length == 0" (click)="openTestToPass()">
        Пройти
      </button>
    </div>

  </form>
</div>
